@import "../SharedStyles.scss";
.overlay {
  background: rgba(74, 74, 74, 0.5);
  position: fixed;
  top: 60px;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: all 250ms ease-in;
  .sheetContainer {
    color: white;
    height: 100vh;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: $blue;
    background-image: url("../../images/arches.png");
    pointer-events: auto;
    transform: translateX(300px);
    transition: all 250ms ease-in;
    .closeButton {
      position: absolute;
      font-size: 24px;
      top: 0;
      right: 20px;
      height: 40px;
      background: none;
      border: none;
      i {
        color: white;
        transform: rotate(0deg);
        transition: all 50ms ease-in;
      }
      &:active {
        i {
          transform: rotate(45deg);
          color: #1b383a;
        }
      }
    }
    .sideOptions {
      font-family: "Recoleta";
      margin-top: 40px;
      padding-left: 0px;
      font-size: 35px;
      list-style: none;
      font-weight: bold;
      transition: all 50ms ease-in;

      li {
        padding-left: 20px;
        line-height: 40px;
        background: transparent;
        transition: all 50ms ease-in;


        a {
          text-decoration: none;
          color: white;
        }
        &.current {
          background: #1b383a;
          font-family: "Recoleta-Bold";
        }
      }
    }
  }
  &.open {
    opacity: 1;
    top:100px;
    .sheetContainer {
      transform: translateX(0px);
    }
  }
}
