@import "../SharedStyles.scss";

.menu {
  background: #6f6f6f;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100vh;
}
.menuItemWrapper {
  font-family: "Recoleta";
  text-align: center;
  .menuItem {
    height: 75px;
    position: relative;
    color: $brown;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Recoleta-Bold";
    font-size: 24px;
    display: flex;
    align-items: center;
    background-image:$gradient, url("../../images/concrete-wall.png");
    .menuTitle {
      margin-left: 30px;
      transition: all 450ms cubic-bezier(0.82, 0.41, 0.34, 1);
    }
    &.open {
      .menuTitle {
        margin-left: 20px;
      }
    }
    &.yellow {
      background-color:$yellow;
    }
    &.blue {
      background-color:$blue;
    }
    &.orange {
      background-color:$orange;
    }
    &.green {
      background-color:$green;
    }
    &.red {
      background-color:$red;
    }
    &.green-light {
      background-color:$green-light;
    }
    &.pink {
      background-color:$pink;
    }
  }
  .menuContent {
    height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: calc(100vw - 40px);
    background-color: $light;
    background-image: url("../../images/brick-wall.png");
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 450ms cubic-bezier(0.82, 0.41, 0.34, 1);
    .lunch {
      margin-bottom: 0;
    }
    .lunchTime {
      margin-top: 0;
      color: rgba(0, 0, 0, 0.75);
    }
    .lunchRule {
      margin: 0;
      color: rgba(0, 0, 0, 0.5);
    }
    .food {
      .name {
        font-family: "Recoleta-Bold";
        margin: 10px 0 0 0;
        font-size: 24px;
        text-align: left;
      }
      .dddFeature {
        color: $orange;
        font-style: italic;
        font-size: 20px;
        text-align: left;
        margin: 0;
      }
      .detailWrapper {
        &.ddd {
          display: inline-flex;

          .description {
              width: 60%;
          }
          .options {
              width: 50%;
          }
        }
        .description {
          color: rgba(0, 0, 0, 0.5);
          font-size: 18px;
          text-align: left;
          margin: 0 0 10px 10px;

        }
        .options {
          color: rgba(0, 0, 0, 0.5);
          text-align: left;
          padding-left: 25px;
          margin: 0;
        }
        .guyHead {
          height: 150px;
          align-self: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    &.open {
      opacity: 1;
      padding: 20px;
      height: calc(100vh - 75px - 75px - 75px);
    }
  }
}
