@import "./pm-styles.scss";

$menu-yellow: #ffed46;
$menu-orange: #f58021;
$menu-green: #9ecf7c;
$menu-teal: #00ac89;
$menu-blue: #5bc6cc;
$menu-red: #ef373e;
$menu-pink: #f06098;

.menuContainer {
  text-shadow: none;
  color: black;
  padding: 0;
  height: 70vh;
}
.menuBody {
  background: $light;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
  .menu {
    padding: 10px;
  }
}
.menuHeader {
  display: flex;
  flex-flow: wrap;
  font-size: $fontSize5;
  padding: 6px;
  background: $blue-dark;
  box-shadow: inset 0px 0px 4px $dark;
  .section {
    margin: 4px;
    border: 2px solid $light;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Belgrano", serif;
    text-align: center;
    height: 50px;
    width: 40%;
    color: white;
    border-radius: 3px;
    transition: all 100ms cubic-bezier(0.1, 0.92, 0.64, 1);
    &.active {
      color: black;
      box-shadow: inset 0px 0px 5px $dark;
    }
  }
}

.blue {
  &.active {
    background: $menu-blue;
  }
}
.orange {
  &.active {
    background: $menu-orange;
  }
}
.teal {
  &.active {
    background: $menu-teal;
  }
}
.red {
  &.active {
    background: $menu-red;
  }
}
.green {
  &.active {
    background: $menu-green;
  }
}
.yellow {
  &.active {
    background: $menu-yellow;
  }
}
.pink {
  &.active {
    background: $menu-pink;
  }
}
