@font-face {
  font-family: "Recoleta" ;
  src: url("./fonts/RecoletaRegular.otf")
}
@font-face {
  font-family: "Recoleta-Bold" ;
  src: url("./fonts/RecoletaBold.otf")
}


body,
html {
  margin: 0;
  padding: 0;
}

.pm-site {
  height: 100%;
  width: 100%;
  margin-top: 60px;
  transform: translatex(0px);
  transition: all 250ms ease-in;

  &.sheetOpen {
    transform: translateX(-250px);
  }
}
